
.estado{
    float: left;
    width: 50%;
  }
  .cidade{
    width: 50%;
    float: left;
  }
   .login{
    background-color: secondary;
  font-family: Roboto;
  font-size: 40px;
  line-height: 10px;
  text-align: left;
}