<ion-header>
  <ion-toolbar color="secondary" style="text-align: center;font-size: xx-large;">

      <ion-buttons slot="start">
        <ion-button href="/dashboard">
          <ion-icon name="arrow-back"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-label>
        Sobre o aplicativo
      </ion-label>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" color="primary" class="ion-content">
  <div style="min-height: 600px;text-align: justify;">

  <h2 style="margin:5%;">O aplicativo tem como objetivo gerar rotinas de exercícios que beneficiem a saúde dos usuários.
    Foi feito como um Trabalho de Conclusão de Curso do curso de Bacharelado em Ciência da Computação em parceria com o Laboratório de Pesquisa em Exercício Físico e Doenças Crônicas (LEDOC) da Faculdade de Ciências, UNESP, campus de Bauru.</h2>  

  </div>
</ion-content>