<ion-header>
  <ion-toolbar color="secondary">
    <div style="width: 20%;float: left;">
      <ion-buttons slot="start">
        <ion-button (click)="voltar()">
          <ion-icon name="arrow-back"></ion-icon>
        </ion-button>
      </ion-buttons>
    </div>
    <div class="login" style="text-align: center;float: left;font-size: Xx-large;width:100%;">
      <ion-label>
        Treino Realizado
      </ion-label>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" color="primary" class="no-scroll" style="display: block;text-align: center;">
  <h3>Semana {{this.semana}}</h3>
  <h4>Data {{this.data2}}</h4>
  <ion-button     style="border-radius: 36.5pt; width: 80%;height: 80px;text-align: center;margin:5%; font-size:larger"
    [color]="cor_along"  [routerLink]="['/treino/','Alongamento',semana,data]" [disabled]="false">
    Alongamento Inicial<br>
    ({{this.atual_along}}/{{this.max_along}})</ion-button>
    
  <ion-button style="border-radius: 36.5pt; width: 80%;height: 80px;text-align: center;margin:5%;font-size: xx-large;"
  [color]="cor_aero"  [routerLink]="['/treino/','Aerobico',semana,data]" [disabled]="false">
  Aeróbio<br>
  ({{this.atual_aero}}/{{this.max_aero}})</ion-button>
  <ion-button style="border-radius: 36.5pt; width: 80%;height: 80px;text-align: center;margin:5%;font-size: xx-large;"
    [color]="cor_resis"  [routerLink]="['/treino/','Resistido',semana,data]" [disabled]="false">
    Resistido<br>
    ({{this.atual_resis}}/{{this.max_resis}})</ion-button>
  <ion-button
    style="border-radius: 36.5pt; width: 80%;height: 80px;text-align: center;margin:5%; font-size:larger"
    [color]="cor_along_final"  [routerLink]="['/treino/', 'Alongamento final',semana,data]" [disabled]="false">
    Alongamento Final<br>
    ({{this.atual_along_final}}/{{this.max_along_final}})</ion-button>


</ion-content>