<ion-header>
  <ion-toolbar color="secondary" style="text-align: center;font-size: x-large;">

      <ion-buttons slot="start">
        <ion-button href="/dashboard">
          <ion-icon name="arrow-back"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-label>
        Como são feitos os treinos
      </ion-label>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" color="primary" class="ion-content">
  <div style="min-height: 600px;text-align: justify;">

  <h1 style="margin:5%;">Esse aplicativo é baseado no Programa de Condicionamento Físico da ACSM e os treinos são gerados conforme os resultados dos testes realizados. <br>As frequências dos exercícios são recomendadas conforme a avaliação de Índice de Composição Corporal. </h1>
  </div>
</ion-content>