<ion-header>
  <ion-toolbar color="secondary">
    <div style="width: 20%;float: left;">
      <ion-buttons slot="start">
        <ion-button (click)="voltar()">
          <ion-icon name="arrow-back"></ion-icon>
        </ion-button>
      </ion-buttons>
    </div>
    <div class="login" style="text-align: center;float: left;margin-top: 5%;font-size: x-large;">
      <ion-label>
        {{this.nome}}
      </ion-label>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen="true" color="primary" class="no-scroll" style="text-align: justify;">
  <div style="margin: 5%;">
    <h3>{{this.descricao}}</h3>
  </div>
  
  <br>
  <iframe width="100%" [src]='video' frameborder="0" allowfullscreen >
  </iframe>
</ion-content>
