<ion-header>
  <ion-toolbar color="secondary" style="text-align: center;font-size: xx-large;">
      <ion-buttons slot="start">
        <ion-button href="/dashboard">
          <ion-icon name="arrow-back"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-label>
        Intensidade de Treinamento
      </ion-label>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" color="primary" class="ion-content">
  <h2 style="margin: 2%;">Durante os exercícios, utilize a Escala de Percepção Subjetiva de Esforço para monitorar a intensidade de seu treino!</h2>
  <ion-img style="width:300px;background-color: transparent;margin: 3%;" src="../../assets/fotos/intensidade.png">
  </ion-img>
</ion-content>

