<ion-header>
  <ion-toolbar color="secondary">
    <div style="width: 20%;float: left;">
      <ion-buttons slot="start">
        <ion-button (click)="voltar()">
          <ion-icon name="home"></ion-icon>
        </ion-button>
      </ion-buttons>
    </div>
    <div class="login" style="text-align: center;float: left;margin-bottom:05%;margin-left: 2%;">
      <ion-label style="font-size:large;text-align: center;">
        Capacidade Musculoesquelética<br>e<br> Funcional
      </ion-label>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen="true" color="primary" class="ion-content">
  <ion-item lines="none" color="transparent" >
    <div display="block" *ngIf="sexo == 'Masculino' && idade < 50"> <!-- homens < 50-->
      <h2 style="text-align: center;">
        Flexão de braços
      </h2>
      <h4 style="text-align: justify;text-justify: distribute">
        <h3 style="text-align: center;">Equipamento</h3>
        Nenhum<br>

        <h3 style="text-align: center;">Preparação</h3>
        • Encontre um bom espaço livre.<br>
        • Aquecer-se, certificando-se de movimentar os braços e ombros<br>
        <h3 style="text-align: center;">Procedimentos</h3>
        Apoie-se no chão com o corpo estendido (reto como uma prancha) , sustentando o peso sobre a ponta dos pés e sobre as mãos. Seus braços devem estar estendidos e com as mãos separadas e alinhadas com os ombros.
        <br>
        1. Flexione os braços, com os cotovelos voltados para os lados, abaixando o corpo até que o peito toque chão, e retorne a posição inicial estendendo os braços para suspender o corpo. <br>
        2. Mantenha o corpo totalmente estendido (reto como uma prancha) durante todo o movimento de abaixar até o chão e retornar à posição inicial. <br>
        3. Repita o movimento, sem pausas, até não conseguir mais retornar à posição inicial mantendo o corpo estendido, contando o número de repetições realizadas (considere uma repetição completa cada vez que abaixar e retornar seu corpo à posição inicial). <br>
        4. Registre o número de repetições realizadas.<br>
      </h4>
      <iframe width="100%" src="https://www.youtube.com/embed/B0d4Jc8OxOA?list=PLjivMaYpY8ImY8m6HLP4VF04pKhndaIcx" frameborder="0" allowfullscreen ></iframe>

    </div>
    <div display="block" *ngIf="sexo == 'Feminino' && idade < 50"> <!-- mulheres < 50-->
      <h2 style="text-align: center;">
        Flexão de braços
      </h2>
      <h4 style="text-align: justify;text-justify: distribute">
        <h3 style="text-align: center;">Equipamento</h3>
        Nenhum<br>

        <h3 style="text-align: center;">Preparação</h3>
        • Encontre um bom espaço livre.<br>
        • Aquecer-se, certificando-se de movimentar os braços e ombros<br>
        <h3 style="text-align: center;">Procedimentos</h3>
        Apoie-se no chão com o corpo estendido (reto como uma prancha) , sustentando o peso sobre os joelhos e sobre as mãos. Seus braços devem estar estendidos e com as mãos separadas e alinhadas com os ombros. Para ficar mais confortável, pode ser utilizado um colchonete ou tapete macio para apoiar os joelhos        <br>
        1. Flexione os braços, com os cotovelos voltados para os lados, abaixando o corpo até que o peito toque chão, e retorne a posição inicial estendendo os braços para suspender o corpo. <br>
        2. Mantenha o corpo totalmente estendido (reto como uma prancha) durante todo o movimento de abaixar até o chão e retornar à posição inicial. <br>
        3. Repita o movimento, sem pausas, até não conseguir mais retornar à posição inicial mantendo o corpo estendido, contando o número de repetições realizadas (considere uma repetição completa cada vez que abaixar e retornar seu corpo à posição inicial). <br>
        4. Registre o número de repetições realizadas.<br>
      </h4>
      <iframe width="100%" src="https://www.youtube.com/embed/NcDxJOH-oAw?list=PLjivMaYpY8ImY8m6HLP4VF04pKhndaIcx" frameborder="0" allowfullscreen></iframe>
    </div>
    <div display="block" *ngIf="idade >= 50"> 
      <h2 style="text-align: center;">
        Flexão de antebraço
      </h2>
      <h4 style="text-align: justify;text-justify: distribute">
        <h3 style="text-align: center;">Equipamentos</h3>
        • Cronômetro, ou relógio de pulso ou qualquer outro que tenha ponteiro de segundos. <br>
        • Cadeira com encosto e sem braços <br>
        <div *ngIg="sexo == 'Masculino'">• Halteres de mão 4 Kg</div>
        <div *ngIg="sexo == 'Feminino'">• Halteres de mão 2 Kg <br></div>

        <h3 style="text-align: center;">Organização dos equipamentos</h3>
        O participante senta em uma cadeira com as costas retas, os pés no chão e o lado dominante do corpo próximo à borda da cadeira. Ele
segura o halter com a mão dominante, utilizando uma empunhadura de aperto de mão. 

        <h3 style="text-align: center;">Posição do avaliado</h3>
        o participante senta em uma cadeira com as costas retas, os pés
no chão e o lado dominante do corpo próximo à borda da cadeira. Ele segura o halter
com a mão dominante, utilizando uma empunhadura de aperto de mão. O teste começa
com o braço estendido perto da cadeira, perpendicular ao chão. 
<h3 style="text-align: center;">Posição do avaliador</h3>
o avaliador ajoelha-se (ou senta em uma cadeira) próximo ao
avaliado no lado do braço dominante, colocando seus dedos no meio do braço da
pessoa para estabilizar a parte superior do braço e pra garantir que uma flexão total
seja feita (o antebraço do avaliado deve apertar os dedos do avaliador. É importante
que a região superior do braço do avaliado permaneça parada durante todo o teste. O
avaliador pode também precisar posicionar sua outra mão atrás do cúbito do avaliado
para ajudar a medir quando a extensão total tenha sido alcançada e para impedir um
movimento de balanço para trás do braço.

        <h3 style="text-align: center;">Procedimentos</h3>
        O teste começa com o braço estendido perto da cadeira e perpendicular
        ao chão. Ao sinal indicativo, o participante gira sua palma para cima enquanto
        flexiona o braço em amplitude total de movimento e então retorna o braço para uma
        posição completamente estendida. Na posição inicial, o peso deve retornar para a
        posição de empunhadura de aperto de mão. O avaliado é encorajado a executar tantas
        repetições quanto possível em 30 segundos. Após a demonstração, faça uma ou duas
        repetições para verificar a forma apropriada, seguida do teste. Deverá ser executado
        o teste uma vez. 
      </h4>
    </div>
  </ion-item>
  <div class="centralizado">
    <ion-button full color="tertiary" (click)="proxima_pagina()">
      Continuar</ion-button>
  </div>
</ion-content>