<ion-header>
  <ion-toolbar color="secondary">
    <div style="width: 20%;float: left;">
      <ion-buttons slot="start">
        <ion-button (click)="voltar()">
          <ion-icon name="home"></ion-icon>
        </ion-button>
      </ion-buttons>
    </div>
    <div class="login" style="text-align: center;float: left;margin-top: 2%;margin-left: 10%;">
      <ion-label style="font-size:xx-large;text-align: center;">
        Funcional
      </ion-label>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen="true" color="primary" class="ion-content">
  <ion-item lines="none" color="transparent">
    <div display="block">
      <h2 style="text-align: center;">
        TIMED UP & GO
      </h2>
      <h4 style="text-align: justify;text-justify: distribute">
        <h3 style="text-align: center;">Equipamento</h3>
        • Cadeira com encosto e sem “braços”.<br>
        • Régua/fita métrica.<br>
• Fita adesiva/crepe.<br>
• Cronômetro.<br>
• Local plano e com espaço.<br> 

        <h3 style="text-align: center;">Preparação</h3>
        • Utilize a fita métrica para demarcar 3 metros de distância da cadeira. Use a fita adesiva
para sinalizar essa distância, começando exatamente da frente da cadeira.<br>
• Chame alguém para marcar o tempo no cronômetro.<br>
• Use roupas largas e confortáveis, e sapatos apropriados para a caminhada. <br>
• Faça um aquecimento, certificando-se de alongar bem as pernas. <br>
        <h3 style="text-align: center;">Procedimentos</h3>

        1. Sente-se na cadeira que foi posicionada em frente a demarcação de 3 metros.
        Certifique-se de que suas nádegas, coxas e costas estão totalmente encostadas na cadeira.<br>
        2. Peça para alguém soltar o cronômetro assim que você começar o teste, ou seja, assim
        que levantar da cadeira.<br>
        3. Levante-se da cadeira sem apoiar-se em lugar algum.<br>
        4. Caminhe o mais rápido que puder (sem trotar ou correr) até o final dos 3 metros e volte
        para a posição inicial sem parar ou diminuir a velocidade no meio do caminho.<br>
        5. Assim que você sentar, novamente com as nádegas, coxas e costas apoiadas totalmente
        na cadeira, peça para a pessoa que está marcando o tempo, pausar imediatamente o
        cronômetro.<br>
        6. Anote quanto tempo você gastou nesse percurso de 3 metros ao levantar, caminhar e
        sentar novamente em uma cadeira e registre no seu perfil pessoal de condicionamento
        físico. <br>
      </h4>
      <iframe width="100%" src="https://www.youtube.com/embed/BeKTd8-7M2s?list=PLjivMaYpY8ImY8m6HLP4VF04pKhndaIcx" frameborder="0" allowfullscreen></iframe>
    </div>
  </ion-item>
  <div class="centralizado">
    <ion-button full color="tertiary" (click)="proxima_pagina()">
      Continuar</ion-button>
  </div>
</ion-content>