<ion-header>
  <ion-toolbar color="secondary">
    <div style="width: 20%;float: left;">
      <ion-buttons slot="start">
        <ion-button (click)="voltar()">
          <ion-icon name="home"></ion-icon>
        </ion-button>
      </ion-buttons>
    </div>
    <div class="login" style="text-align: center;float: left;margin-top: 2%;margin-left: 10%;">
      <ion-label style="font-size:xx-large;text-align: center;">
        Funcional
      </ion-label>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen="true" color="primary" class="ion-content">
  <ion-item lines="none" color="transparent">
    <div display="block">
      <h2 style="text-align: center;">
        Sentar e Levantar
      </h2>
      <h4 style="text-align: justify;text-justify: distribute">
        <h3 style="text-align: center;">Equipamento</h3>
        • Cadeira com encosto e sem “braços”.<br>
        • Cronômetro.<br>

        <h3 style="text-align: center;">Preparação</h3>
        • Coloque a cadeira em um espaço que dê para você se sentar e se levantar tranquilamente.<br>
        • Chame alguém para marcar o tempo no cronômetro.<br>
        • Use roupas largas e confortáveis, e sapatos apropriados para a caminhada.<br>
        • Faça um aquecimento, certificando-se de alongar bem as pernas. <br>
        <h3 style="text-align: center;">Procedimentos</h3>

        1. Você deve sentar e levantar da cadeira, o mais rápido que conseguir, por 30 segundos.<br>
        2. Certifique-se de que suas nádegas, coxas e costas estão totalmente encostadas na
        cadeira em todas as vezes que sentar. Não se esqueça de deixar o seu corpo ereto todas as
        vezes que levantar.<br>
        3. Peça para alguém soltar o cronômetro assim que você começar o teste, ou seja, na
        primeira vez que levantar da cadeira.<br>
        4. Levante-se e sente-se da cadeira sem apoiar-se em lugar algum e sem parar no meio do
        movimento, faça constantemente.<br>
        5. Conte o número de vezes que você levanta e senta. A contagem deverá ser realizada
        após o movimento completo, ou seja, comece sentado, levante, fique em pé na posição
        ereta, sente-se novamente e conte. Faça isso sucessivamente.<br>
        6. Peça para a pessoa que está com o cronômetro lhe avisar quando chegar nos 30
        segundos para que você encerre o teste e a contagem.<br>
        7. Marque quantas vezes você sentou e levantou (fazendo o movimento completo) por 30
        segundos e registre no seu perfil pessoal de condicionamento físico. <br>
      </h4>
      <iframe width="100%" src="https://www.youtube.com/embed/6rJObnFCakc?list=PLjivMaYpY8ImY8m6HLP4VF04pKhndaIcx" frameborder="0" allowfullscreen></iframe>
    </div>
  </ion-item>
  <div class="centralizado">
    <ion-button full color="tertiary" (click)="proxima_pagina()">
      Continuar</ion-button>
  </div>
</ion-content>